*{
    box-sizing: border-box;
}

/*BODY AND MAIN*/

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: grey;
    
}

main {
    /*background: url("../img/todolist.jpg") no-repeat center center fixed;*/
    width: 1000px;
    height: 100%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

/*Header and title*/

header {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    height: 140px;
    background-color: mediumaquamarine;
  
}

header h1 {
    margin-bottom: 10px;
    color: red;
    font-size: 50px;
    font-style: bold;
    font-family: "Arial";
}

h1 {
    color: red;
    /*text-align: center;*/
    font-size: 30px;
    font-style: bold;
    font-family: "Arial";
}


/*SECTION ONE WITH CONTENT*/

.sec-one {
    width: 100%; 
    height: 60px;
    margin-top: 20px;
    background-color: mediumaquamarine;
    border: 1px solid green;
}

.input-div {
    margin-right: auto;
    margin-left: auto;
   /* border: 1px solid green;*/
}

#myInput {
  display: inline-block;
  width: 600px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  /*background-color: red;*/

}

#btnAdd {
  
}

/*
SECTION TWO WITH CONTENT*/

.sec-two {
    margin-top: 20px;
    width: 100%;
    height:100%; /*change to auto later!!!*/
    border: 1px solid green;
    background-color: mediumaquamarine;

}

.myUL {
    color: red;
    
}


.todoList {
 display: inline-block;
 width: 400px;
 height: auto;
}

.doneList {
display: inline-block;
 width: 400px;
 
}